[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
[submodule "pyflakes-pathogen"]
	path = pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = https://github.com/sontek/rope-vim.git
[submodule "bundle/vim-lua-ftplugin"]
	path = bundle/vim-lua-ftplugin
	url = git://github.com/xolox/vim-lua-ftplugin.git
[submodule "bundle/vim-slime"]
	path = bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
